.about {
  margin: 50px;
  flex-grow: 1;
}

.about-paragraph {
  text-align: justify;
  font-size: x-small;
}

.research-list-item {
  text-align: justify;
  font-size: x-small;
}

.type-of-problem-list-item {
  text-align: justify;
  font-size: x-small;
}
