.footer {
  width: -webkit-fill-available;
  background-color: #f6f6f6;
  height: 60px;
  bottom: 0;
}

.footer-container {
  max-width: 100%;
  margin: 15px auto;
  font-size: x-small;
  font-weight: bold;
}

.footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
