html * {
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  margin: 60px;
}

.new-window-icon {
  color: #007bff;
}
