.header {
  width: -webkit-fill-available;
  background-color: #f6f6f6;
}

.header-container {
  max-width: 100%;
  margin: 0 auto;
}

.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-logo {
  padding: 20px;
}

.logo-image {
  height: 40px;
}

.header-nav-buttons {
  padding: 5px 10px 5px 10px;
  margin-left: 30px;
  border: none;
  border-radius: 20px;
  color: #3070b3;
  font-weight: bold;
  text-decoration: none;
}

.active-button {
  background: #c4c4c4;
}

.upload-solution {
  padding: 5px 10px 5px 10px;
  margin-left: 30px;
  border: none;
  border-radius: 20px;
  background: #62a7ef;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.active-upload-solution {
  background: white;
  color: #62a7ef;
  box-shadow: 0 4px 4px grey;
}

button.header-download-report.btn.btn-secondary {
  background: none;
  border: none;
  color: #3070b3;
  padding: 5px 10px 5px 10px;
  margin-left: 30px;
  font-weight: bold;
}
